body, html {
    height: 100%;
  }
  
  * {
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
  }
  
  .bg-image {
    /* The image used */
    background: url("./assets/img/tumblr_po06d9LXbR1qeyvpto1_500.gif") fixed 100%;
  
    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  /* Position text in the middle of the page/image */
  .bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  .bg-text img {
      width: 300px;
      height: auto;
  }
  .bg-text .epic,
  .bg-text .burimi {
      margin-right: 30px;
      border: 2px solid white;
      border-radius: 5px;
      background-color: white;
      color: black;
      padding: 10px;
      height: 350px;
      width: 350px;
  }
  .bg-text a.arrow {
    font-size: 40px;
    display: flex;
    align-items: center;
    margin-right: 20px;
    color: white;
    text-decoration: none;
}
.bg-text .epic a,
.bg-text .burimi a {
    color: black;
}
.bg-text .port {
  margin-bottom: 20px;
}
  @media screen and (max-width: 600px) {
    .bg-image {
      height: 130vh;
    }
      .bg-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 100px;
      }
      .bg-text img {
        width: 90%;
        height: auto;
    }
    .bg-text .epic{
        margin-bottom: 20px;
    }
    .bg-text .epic,
  .bg-text .burimi {
      margin-right: 0px;
      border: 2px solid white;
      border-radius: 5px;
      background-color: white;
      color: black;
      padding: 10px;
      height: auto;
      width: 90%;
  }
  .bg-text .epic h1,
  .bg-text .burimi h1 {
      font-size: 20px;
  }
  .bg-text .epic p,
  .bg-text .burimi p {
      font-size: 16px;
  }
  }
  @media screen and (min-width: 601px) and (max-width: 992px) {
    .bg-image {
      height: 130vh;
    }
    .bg-text {
      flex-direction: column;
      align-items: center;
      margin-top: 100px;
    }
    .bg-text .epic,
  .bg-text .burimi {
    margin-right: 0px;
    width: 80%;
  }
  .bg-text .epic {
    margin-bottom: 30px;
  }
  }